In [3]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     ---- ---------------------------------- 30.7/250.0 kB 1.4 MB/s eta 0:00:01
     -------------- ------------------------ 92.2/250.0 kB 1.1 MB/s eta 0:00:01
     ---------------------------------- --- 225.3/250.0 kB 1.5 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 1.4 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

# Import Libraries we will use

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

# Knowing the name of our Excel sheet

In [6]:
def get_excel_sheet_names(file_path):
    # Load the Excel file
    xls = pd.ExcelFile(file_path)
    
    # Retrieve the sheet names
    sheet_names = xls.sheet_names
    
    return sheet_names

# Example usage
file_path = 'KPMG_VI_New_raw_data_update_final.xlsx'
sheet_names = get_excel_sheet_names(file_path)

print(sheet_names)

['Title Sheet', 'Transactions', 'NewCustomerList', 'CustomerDemographic', 'CustomerAddress']

# Upload our Dataset

In [11]:
transactions = pd.read_excel(file_path, sheet_name='Transactions')
newcustomerlist = pd.read_excel(file_path, sheet_name='NewCustomerList')
customerdemographic = pd.read_excel(file_path, sheet_name='CustomerDemographic')
customeraddress = pd.read_excel(file_path, sheet_name='CustomerAddress')
print('upload successfully')

upload successfully

# Understand and cleaning out Dataset

## First : Transaction Dataset

In [12]:
transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0

In [21]:
transactions.shape

(20000, 13)

### Sure that the data in the correct Type :

In [15]:
transactions.dtypes

transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date           float64
dtype: object

### Dealing with missing Data :

In [17]:
transactions.isna().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [24]:
threhold = len(transactions) * 0.05
print("threhold : ",threhold)
cols_to_drop = transactions.columns[transactions.isna().sum() <= threhold ]
transactions.dropna(subset=cols_to_drop,inplace=True)
transactions.isna().sum()

threhold :  1000.0

transaction_id             0
product_id                 0
customer_id                0
transaction_date           0
online_order               0
order_status               0
brand                      0
product_line               0
product_class              0
product_size               0
list_price                 0
standard_cost              0
product_first_sold_date    0
dtype: int64

### Data contains allowable Value :

In [27]:
transactions.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [29]:
transactions['transaction_date'].dt.year.unique()

array([2017])

In [30]:
transactions['order_status'].unique()

array(['Approved', 'Cancelled'], dtype=object)

In [31]:
transactions['brand'].unique()

array(['Solex', 'Trek Bicycles', 'OHM Cycles', 'Norco Bicycles',
       'Giant Bicycles', 'WeareA2B'], dtype=object)

In [33]:
transactions['product_line'].unique()

array(['Standard', 'Road', 'Mountain', 'Touring'], dtype=object)

In [34]:
transactions['product_class'].unique()

array(['medium', 'low', 'high'], dtype=object)

In [35]:
transactions['product_size'].unique()

array(['medium', 'large', 'small'], dtype=object)

### Duplication :

In [40]:
transactions.duplicated().sum()

0